<% object = @news %>
<%= semantic_form_for [:admin, @quarter, object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <%= f.input :quarter_id, as: :hidden, :input_html => { :value => @quarter.id } %>
    <div class="input optional form-group" id="news_quarter_id_input">
      <span class="form-label">
        <label for="news_quarter_id" class=" control-label"><%= t('activerecord.attributes.news.quarter_id') %></label>
      </span>
      <span class="form-wrapper">
        <%= @quarter.time_period %>
      </span>
    </div>

    <%= f.input :reform_id, as: :select, collection: @reforms %>

    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  as: :string,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.title'),
                         language: enabled_locale_name) %>
      <%= f.input "url_#{enabled_locale}",
                  as: :url,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.url'),
                         language: enabled_locale_name) %>
      <%= f.input "content_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.content'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 2, :maxlength => 255  } %>
    <% end %>


    <div class="file input optional form-group" id="news_image_input">
      <span class="form-label">
        <label for="news_image" class=" control-label"><%= t('activerecord.attributes.news.image') %></label>
      </span>
      <% if @news.image.exists? %>
        <%= image_tag(@news.image.url('90x50')) %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".jpg,.jpeg,.png,.gif" id="news_image" name="news[image]" type="file">
      </span>
    </div>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>

