<%
  model_class = Quarter
  page_title t('activerecord.models.quarter', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_quarter_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.quarter.time_period' %></th>
      <th><%=t 'activerecord.attributes.quarter.is_public' %></th>
      <th><%=t 'activerecord.attributes.quarter.summary_good' %></th>
      <th><%=t 'activerecord.attributes.quarter.summary_bad' %></th>
      <th><%=t 'activerecord.attributes.quarter.report' %></th>
      <th><%=t 'activerecord.attributes.quarter.expert_survey' %></th>
      <th><%=t 'activerecord.attributes.quarter.reform_surveys' %></th>
      <th><%=t 'activerecord.attributes.quarter.news' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @quarters.each do |quarter| %>
      <tr>
        <td><%= quarter.time_period %></td>
        <td>
          <div><%= format_boolean_flag(quarter.is_public, true) %></div>

          <div>
            <% if quarter.is_public %>
              <%= link_to t('shared.actions.unpublish'),
                      unpublish_admin_quarter_path(quarter),
                      method: :post,
                      data: { confirm: t('shared.prompts.confirm') },
                      class: 'btn btn-danger btn-xs' %>
            <% else %>
              <%= link_to t('shared.actions.publish'),
                      publish_admin_quarter_path(quarter),
                      method: :post,
                      data: { confirm: t('shared.prompts.confirm') },
                      class: 'btn btn-success btn-xs' %>
            <% end %>
          </div>
        </td>
        <td><%= simple_format(quarter.summary_good) %></td>
        <td><%= simple_format(quarter.summary_bad) %></td>
        <td>
          <% if quarter.report.exists? %>
            <div><%= link_to t('shared.actions.view'), quarter.report.url,
                          class: 'btn btn-default btn-xs',
                          target: :blank %></div>
            <div><%= if can? :edit, quarter
                  link_to t('shared.actions.edit'),
                          edit_admin_quarter_path(quarter),
                          class: 'btn btn-default btn-xs'
            end %></div>
          <% else %>
            <div><%= if can? :edit, quarter
                  link_to t('shared.actions.add'),
                          edit_admin_quarter_path(quarter),
                          class: 'btn btn-primary btn-xs'
              end %></div>
          <% end %>
        </td>
        <td>
          <% if quarter.expert_survey.present? %>
            <div><%= link_to t('shared.actions.view'),
                      '#',
                      class: 'btn btn-default btn-xs' %></div>
            <div><%= link_to t('shared.actions.edit'),
                      '#',
                      class: 'btn btn-default btn-xs' %></div>
          <% else %>
            <div><%= link_to t('shared.actions.add'),
                      '#',
                      class: 'btn btn-primary btn-xs' %></div>
          <% end %>
        </td>
        <td>
          <div><%= link_to t('shared.actions.add'),
                    '#',
                    class: 'btn btn-primary btn-xs' %></div>

          <% if quarter.reform_surveys.present? %>

          <% end %>

        </td>
        <td>
          <div><%= link_to t('shared.actions.add'),
                    new_admin_quarter_news_path(quarter),
                    class: 'btn btn-primary btn-xs' %></div>

          <% if quarter.news.present? %>
            <ul>
              <% quarter.news.each do |news| %>
                <li>
                  <%= link_to news.title, admin_quarter_news_path(quarter, news) %>
                  <%= link_to t('shared.actions.edit'),
                        edit_admin_quarter_news_path(quarter, news),
                        class: 'btn btn-default btn-xs' %>
                  <%= link_to t('shared.actions.destroy'),
                        admin_quarter_news_path(quarter, news),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger btn-xs' %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>



        <td>
          <%= if can? :edit, quarter
                link_to t('shared.actions.edit'),
                        edit_admin_quarter_path(quarter),
                        class: 'btn btn-default btn-xs'
          end %>

          <%= if can? :destroy, quarter
                link_to t('shared.actions.destroy'),
                        admin_quarter_path(quarter),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger btn-xs'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
