<%
  model_class = Quarter
  page_title t('activerecord.models.quarter', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_quarter_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.quarter.time_period' %></th>
      <th><%=t 'activerecord.attributes.quarter.is_public' %></th>
      <th><%=t 'activerecord.attributes.quarter.summary_good' %></th>
      <th><%=t 'activerecord.attributes.quarter.summary_bad' %></th>
      <th><%=t 'activerecord.attributes.quarter.report' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @quarters.each do |quarter| %>
      <tr>
        <td><%= quarter.time_period %></td>
        <td><%= format_boolean_flag(quarter.is_public) %></td>
        <td><%= simple_format(quarter.summary_good) %></td>
        <td><%= simple_format(quarter.summary_bad) %></td>
        <td><%= link_to t('shared.actions.view'), quarter.report.url,
                        class: 'btn btn-default',
                        target: :blank if quarter.report.exists? %></td>

        <td>
          <%= if can? :edit, quarter
                link_to t('shared.actions.edit'),
                        edit_admin_quarter_path(quarter),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, quarter
                link_to t('shared.actions.destroy'),
                        admin_quarter_path(quarter),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
