<%
  model_class = Quarter
  page_title t('activerecord.models.quarter', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_quarter_path
        }
  %>
</div>

<% if @quarters %>
  <div class="form-quarter-select">
    <strong><%= t('.set_time_period') %>:</strong>
    <select class='js-become-select2 js-form-quarter-select' data-new-url-base="<%= admin_quarters_path %>">
      <% @quarters.each do |quarter| %>
        <option value='<%= quarter[1] %>' <%= params[:q] == quarter[1] ? 'selected=selected' : '' %> >
          <%= quarter[0] %>
        </option>
      <% end %>
    </select>
  </div>
<% end %>

<hr />

<% if @quarter.present? %>
  <div class="form-quarter-details">
    <div class="form-quarter-details-top">
      <div class="row">
        <div class="col-md-4">
          <strong><%=t 'activerecord.attributes.quarter.time_period' %>: </strong>
          <%= @quarter.time_period %>
        </div>
        <div class="col-md-4">
          <strong><%=t 'activerecord.attributes.quarter.is_public' %>:</strong>
          <%= format_boolean_flag(@quarter.is_public) %>

          <% if @quarter.is_public %>
            <%= link_to t('shared.actions.unpublish'),
                    unpublish_admin_quarter_path(@quarter),
                    method: :post,
                    data: { confirm: t('shared.prompts.confirm') },
                    class: 'btn btn-danger btn-sm' %>
          <% else %>
            <%= link_to t('shared.actions.publish'),
                    publish_admin_quarter_path(@quarter),
                    method: :post,
                    data: { confirm: t('shared.prompts.confirm') },
                    class: 'btn btn-success btn-sm' %>
          <% end %>
        </div>
        <div class="col-md-4">
          <strong><%=t 'activerecord.attributes.quarter.report' %>:</strong>
          <% if @quarter.report.exists? %>
            <%= link_to t('shared.actions.view'), @quarter.report.url,
                          class: 'btn btn-default btn-sm',
                          target: :blank %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <strong><%=t 'activerecord.attributes.quarter.summary_good' %>:</strong>
          <%= simple_format(@quarter.summary_good) %>
        </div>
        <div class="col-md-4">
          <strong><%=t 'activerecord.attributes.quarter.summary_bad' %>:</strong>
          <%= simple_format(@quarter.summary_bad) %>
        </div>
        <div class="col-md-4 text-right">
          <%= if can? :edit, @quarter
                link_to t('shared.actions.edit'),
                        edit_admin_quarter_path(@quarter),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, @quarter
                link_to t('shared.actions.destroy'),
                        admin_quarter_path(@quarter),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </div>
      </div>
    </div>

    <hr />

    <div class="form-quarter-details-bottom">
      <div class="row">
        <div class="col-md-4">
          <h3><%=t 'activerecord.attributes.quarter.expert_survey' %></h3>

          <% if @quarter.expert_survey.present? %>
            <div class="form-survey-item">
              <div class="row">
                <div class="col-md-6">
                  <strong><%= t('shared.categories.overall') %></strong>
                </div>
                <div class="col-md-6">
                  <strong><%=t 'shared.common.actions' %></strong>
                </div>
              </div>
            </div>
            <div class="form-survey-item">
              <div class="row">
                <div class="col-md-6">
                  <%= @quarter.expert_survey.overall_score %>
                  <%= generate_change_icon(@quarter.expert_survey.overall_change) %>
                </div>
                <div class="col-md-6">
                  <%= link_to t('shared.actions.view'),
                          admin_quarter_expert_survey_path(quarter_id: @quarter.slug, id: @quarter.expert_survey),
                          class: 'btn btn-default btn-sm' %>
                  <%= link_to t('shared.actions.edit'),
                          edit_admin_quarter_expert_survey_path(quarter_id: @quarter.slug, id: @quarter.expert_survey),
                          class: 'btn btn-default btn-sm' %>
                </div>
              </div>

              <div class="form-reform-news">
                <strong><%=t 'activerecord.attributes.quarter.news' %>:</strong>
                <div><%= link_to t('shared.actions.add'),
                          new_admin_quarter_news_path(@quarter),
                          class: 'btn btn-primary btn-xs' %></div>
                <%
                  # get the news that does not have a reform id
                  news = @quarter.news.select{|x| x.reform_id.nil?}
                  if news.present?
                %>

                <ul>
                    <% news.each do |news_item| %>
                      <li>
                        <%= link_to news_item.title, admin_quarter_news_path(@quarter, news_item) %>
                        <%= link_to t('shared.actions.edit'),
                              edit_admin_quarter_news_path(@quarter, news_item),
                              class: 'btn btn-default btn-xs' %>
                        <%= link_to t('shared.actions.destroy'),
                              admin_quarter_news_path(@quarter, news_item),
                              method: :delete,
                              data: { confirm: t('shared.prompts.confirm') },
                              class: 'btn btn-danger btn-xs' %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>

              </div>
            </div>

          <% else %>
            <div><%= link_to t('shared.actions.add'),
                      new_admin_quarter_expert_survey_path(quarter_id: @quarter.slug),
                      class: 'btn btn-primary btn-sm' %></div>
          <% end %>
        </div>

        <div class="col-md-8">
          <h3><%=t 'activerecord.attributes.quarter.reform_surveys' %></h3>

          <div><%= link_to t('shared.actions.add'),
                    new_admin_quarter_reform_survey_path(@quarter),
                    class: 'btn btn-primary btn-sm' %></div>

          <% if @quarter.reform_surveys.present? %>
            <div class="form-survey-item">
              <div class="row">
                <div class="col-md-5">
                  <strong><%= t('.table_header.reform') %></strong>
                </div>
                <div class="col-md-2">
                  <strong><%= t('.table_header.government') %></strong>
                </div>
                <div class="col-md-2">
                  <strong><%= t('.table_header.stakeholder') %></strong>
                </div>
                <div class="col-md-3">
                  <strong><%=t 'shared.common.actions' %></strong>
                </div>
              </div>
            </div>
            <% @quarter.reform_surveys.each do |reform_survey| %>
              <div class="form-survey-item">
                <div class="row">
                  <div class="col-md-5">
                    <%= reform_survey.reform.name %>
                  </div>
                  <div class="col-md-2">
                    <%= reform_survey.government_overall_score %>
                    <%= generate_change_icon(reform_survey.government_overall_change) %>
                  </div>
                  <div class="col-md-2">
                    <%= reform_survey.stakeholder_overall_score %>
                    <%= generate_change_icon(reform_survey.stakeholder_overall_change) %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to t('shared.actions.edit'),
                          edit_admin_quarter_reform_survey_path(@quarter, reform_survey),
                          class: 'btn btn-default btn-xs' %>
                    <%= link_to t('shared.actions.destroy'),
                          admin_quarter_reform_survey_path(@quarter, reform_survey),
                          method: :delete,
                          data: { confirm: t('shared.prompts.confirm') },
                          class: 'btn btn-danger btn-xs' %>
                  </div>
                </div>

                <div class="form-reform-news">
                  <strong><%=t 'activerecord.attributes.quarter.news' %>:</strong>
                  <div><%= link_to t('shared.actions.add'),
                            new_admin_quarter_news_path(@quarter, reform_id: reform_survey.reform_id),
                            class: 'btn btn-primary btn-xs' %></div>
                  <%
                    # get the news for this reform
                    news = @quarter.news.select{|x| x.reform_id == reform_survey.reform_id}
                    if news.present?
                  %>

                    <ul>
                      <% news.each do |news_item| %>
                        <li>
                          <%= link_to news_item.title, admin_quarter_news_path(@quarter, news_item) %>
                          <%= link_to t('shared.actions.edit'),
                                edit_admin_quarter_news_path(@quarter, news_item),
                                class: 'btn btn-default btn-xs' %>
                          <%= link_to t('shared.actions.destroy'),
                                admin_quarter_news_path(@quarter, news_item),
                                method: :delete,
                                data: { confirm: t('shared.prompts.confirm') },
                                class: 'btn btn-danger btn-xs' %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>