
<%
@do_not_use_default_page_layout = true
show_admin_links ||= false
%>

<div class='contentSection mod-overlap-top-image'>

  <%= bootstrap_flash %>

  <header class='contentSection-header'>
    
    <div class='contentSection-header-title'>
      
      <h1 class='heading'>

        <div class='heading-iconTextContainer'>

          <%= inline_svg('experts.svg', class: 'heading-icon') %>

          <div class='heading-text'>
            <%= yield(:page_title) %>
          </div>

        </div>

      </h1>
      
    </div>

    <% if @active_quarters %>
      <div class='contentSection-header-controls'>

        <%= t('shared.common.change_time') %>:
        <select class='js-become-select2 js-change-expert-time-period' data-base-url='<%= review_board_path %>'>

          <% @active_quarters.each do |active_quarter| %>
            <option value='<%= active_quarter[1] %>' <% if @quarter.slug == active_quarter[1] %>selected<% end %>><%= active_quarter[0] %></option>
          <% end %>

        </select>

      </div>
    <% end %>

  </header>

  <div class='contentSection-body'>


    <% if show_admin_links %>
      <div class='actions-container'>
        <%= render partial: 'shared/show_actions',
              locals: {
                hide_object_name: true,
                object: Quarter.new,
                index_path: admin_quarters_path(q: @quarter.slug),
                show_path: admin_quarter_expert_survey_path(quarter_id: @quarter.slug),
                edit_path: edit_admin_quarter_expert_survey_path(quarter_id: @quarter.slug),
                      }
        %>
      </div>
    <% end %>

    <div class='summaryGaugesContainer'>

      <% if @quarter.expert_survey.summary %>
        <div class='summaryGaugesContainer-summary'>
          <%= simple_format(@quarter.expert_survey.summary) %>
        </div>
      <% end %>

      <section class='gaugesContainer'>

        <% exportID = random_string %>

        <div class='gaugesContainer-exportButton'>

          <%= render partial: 'shared/gauges_group_export',
                     locals: {
                       exportID: exportID,
                       openMenuID: random_string
                     } %>

        </div>

        <div class='js-become-highchart meterGauge mod-big' data-chart-type='big-meter-gauge' data-id='overall' data-exportable-by-id='<%= exportID %>'></div>

        <div class='gaugesContainer-small'>

          <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='performance' data-exportable-by-id='<%= exportID %>'></div>

          <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='goals' data-exportable-by-id='<%= exportID %>'></div>

          <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='progress' data-exportable-by-id='<%= exportID %>'></div>

        </div>

      </section>
    </div>

    <section>
      <ul class='tabList mod-with-separator js-act-as-tab-list'>

        <li class='tabList-item'>
          <button class='tabList-item-button mod-primary is-selected js-act-as-tab-list-button' data-selects-tab-content-panel-id='chart'>
            <%= t('.header.chart') %>
          </button>
        </li>

        <li class='tabList-item'>
          <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='methodology'>
            <%= t('.header.methodology') %>
          </button>
        </li>

      </ul>

      <div class="tabContent js-act-as-tab-content">

        <div class='tabContent-panel is-selected js-act-as-tab-content-panel' id='chart'>
          <div class='js-become-highchart' data-chart-type='rating-history-time-series' data-id='expert-history'></div>
        </div>

        <div class='tabContent-panel js-act-as-tab-content-panel' id='methodology'>
          <% if @methodology_review_board %>
            <div>
              <%= simple_format_no_tags(@methodology_review_board.content) %>
            </div>
          <% else %>
            <p>
             <%= t('.no_methodology') %>
            </p>
          <% end %>
        </div>

      </div>

    </section>

  </div>

</div>

<div class='contentSidebarContainer'>

  <div class='contentSidebarContainer-content'>

    <div class='contentSection'>

      <header class='contentSection-header mod-no-padding'>
        <ul class='tabList mod-header js-act-as-tab-list'>

          <li class='tabList-item'>
            <button class='tabList-item-button is-selected js-act-as-tab-list-button' data-selects-tab-content-panel-id='findings'>
              <%= t('.header.findings') %>
            </button>
          </li>

          <li class='tabList-item'>
            <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='experts'>
              <%= t('.header.experts') %>
            </button>
          </li>

        </ul>
      </header>

      <div class='contentSection-body'>

        <div class='tabContent js-act-as-tab-content'>

          <div class='tabContent-panel is-selected js-act-as-tab-content-panel' id='findings'>
            <% if @quarter.expert_survey.details %>
              <div>
                <%= simple_format_no_tags(@quarter.expert_survey.details) %>
              </div>
            <% else %>
              <p>
                <%= t('.no_details') %>
              </p>
            <% end %>
          </div>

          <div class='tabContent-panel js-act-as-tab-content-panel' id='experts'>

            <ul class='expertList mod-two-columns'>

              <% if @quarter.expert_survey.experts.each do |expert| %>

                <li class='expertList-item'>

                  <%= link_to review_board_path(anchor: "board-member-#{expert.id}"),
                              class: 'expertList-item-imageLink' do %>

                    <%= image_tag(expert.avatar.url('100x100'),
                                  class: 'expertList-item-imageLink-image') %>

                  <% end %>

                  <h4 class='expertList-item-heading'>

                    <%= link_to expert.name,
                                review_board_path(anchor: "board-member-#{expert.id}"),
                                class: 'link mod-no-decoration' %>

                  </h4>

                </li>

              <% end.empty? %>

                <li>

                  <%= t('.no_experts') %>

                </li>

              <% end %>

            </ul>

          </div>

        </div>

      </div>
    </div>

  </div>

  <% if @news.present? %>
    <div class='contentSidebarContainer-sidebar mod-limit-width-to-image'>
      <%= render partial: 'shared/news' %>
    </div>
  <% end %>

</div>
