<h3>
  <%= ext_ind_chart[:title] %>
</h3>

<h4>
  <%= ext_ind_chart[:subtitle] %>
</h4>

<div>

  <div class='js-become-highchart' data-chart-type='<%= ext_ind_chart[:chartType] %>' data-id='<%= ext_ind_chart[:id] %>'></div>

  <% if ext_ind_chart[:indexes].present? %>

    <ul class='chartIndexes js-act-as-chart-indexes-container'>

      <% ext_ind_chart[:indexes].each do |index| %>

        <% most_recent_data_point = index[:data].last %>

        <li class='chartIndexes-item js-make-index-updatable-by-chart'>

          <span title='<%= index[:name] %>' class='js-act-as-index-name'>
            <%= index[:short_name] %>
          </span>

          <div>

            <span class='chartIndexes-item-value js-act-as-index-value'>
              <%= most_recent_data_point[:y].round %>
            </span>

            <%= generate_change_icon(most_recent_data_point[:change]) %>
          </div>

        </li>

      <% end %>

    </ul>

  <% end %>

</div>
