<div>

  <% exportID = random_string %>

  <%= render partial: 'shared/chart_export_button',
             locals: {
               exportID: exportID
             } %>

  <div class='js-become-highchart' data-chart-type='<%= external_indicator[:chartType] %>' data-id='<%= external_indicator[:id] %>' data-exportable-by-id='<%= exportID %>'></div>

  <% if external_indicator[:indexes].present? %>

    <ul class='chartIndexes js-act-as-chart-indexes-container'>

      <% external_indicator[:indexes].each do |index| %>

        <% most_recent_data_point = index[:data].last %>

        <li class='chartIndexes-item js-act-as-index-box' original-title='<h4 class="chartIndexes-item-tooltip-heading"><%= index[:name] %></h4><div class="chartIndexes-item-tooltip-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>'>
          <span class='js-act-as-index-name'>
            <%= index[:short_name] %>
          </span>

          <p class='chartIndexes-item-values'>

            <span class='chartIndexes-item-values-score js-act-as-index-value'>
              <%= most_recent_data_point[:y].round %>
            </span>

            <span class='chartIndexes-item-values-change'>
              <%= generate_change_icon(most_recent_data_point[:change]) %>
            </span>
          </p>

        </li>

      <% end %>

    </ul>

  <% end %>

</div>
