<%
@do_not_use_default_page_layout = true
@has_sidebar = @news.present?
show_admin_links ||= false
%>

<div class='contentSection mod-overlap-top-image'>

  <%= bootstrap_flash %>

  <header class='contentSection-header'>

    <div class='contentSection-header-title'>

      <h1 class='heading'>
        <%= yield(:page_title) %>
      </h1>

    </div>

    <div class='contentSection-header-controls'>

      <div class='headerControlsRow'>

        <% if @active_reforms %>

          <span class='headerControlsRow-item'>

            <label class='labeledSelect-label' for='change-reform-page-verdict-select'>
              <%= t('shared.common.change_reform') %>:
            </label>

            <span class='labeledSelect-select'>

              <select id='change-reform-page-verdict-select' class='js-become-select2 js-reform-page-reform-select'>

                <% @active_reforms.each do |active_reform| %>
                  <option value='<%= active_reform[1] %>' <% if @reform.slug == active_reform[1] %>selected<% end %>><%= active_reform[0] %></option>
                <% end %>

              </select>

            </span>

          </span>

        <% end %>

      </div>

      <div class='headerControlsRow'>

        <span class='headerControlsRow-item'>

          <% if @active_verdicts %>

            <label class='labeledSelect-label' for='change-reform-page-reform-select'>
              <%= t('shared.common.change_time') %>:
            </label>

            <span class='labeledSelect-select'>

              <select id='change-reform-page-reform-select' class='js-become-select2 js-reform-page-verdict-select'>

                <% @active_verdicts.each do |active_verdict| %>
                  <option value='<%= active_verdict[1] %>' <% if @verdict.slug == active_verdict[1] %>selected<% end %>><%= active_verdict[0] %></option>
                <% end %>

              </select>

            </span>

          <% end %>

        </span>

        <span class='headerControlsRow-item mod-left-padding'>

          <% if @active_reforms.present? || @active_verdicts.present? %>
            <button class='loadButton js-load-new-reform-page' data-new-url-base='<%= reforms_path %>'>
              <%= t('shared.actions.load') %>
            </button>
          <% end %>

        </span>

      </div>

    </div>

  </header>

  <div class='contentSection-body'>

    <% if show_admin_links %>
      <div class='actions-container'>
        <%= render partial: 'shared/show_actions',
              locals: {
                hide_object_name: true,
                object: Verdict.new,
                index_path: admin_verdicts_path(v: @verdict.slug),
                show_path: admin_verdict_reform_survey_path(verdict_id: @verdict.slug, id: @reform_survey),
                edit_path: edit_admin_verdict_reform_survey_path(verdict_id: @verdict.slug, id: @reform_survey),
                      }
        %>
      </div>
    <% end %>

    <% if @reform_survey.report.exists? %>
      <div class='downloadBox-button mod-inline mod-pdf mod-pdf-small mod-pull-right mod-padding'>
        <%= link_to @reform_survey.report.url,
                  target: :blank,
                   class: 'js-report' do %>
          <%= t('.download') %>
          <%= inline_svg("download_pdf.svg") %>
        <% end %>
      </div>
    <% end %>

    <% if @reform_survey.summary %>
      <div>
        <%= simple_format(@reform_survey.summary) %>
      </div>
    <% end %>

    <section>

      <h2 class='heading mod-top-margin'>
        <%= t('.header.government_summary') %>
      </h2>

      <div class='summaryGaugesContainer mod-five-gauges'>

        <% if @reform_survey.government_summary %>
          <div class='summaryGaugesContainer-summary'>
            <%= simple_format_no_tags(@reform_survey.government_summary) %>
          </div>
        <% end %>

        <section class='gaugesContainer mod-solid-gauges'>

          <div class='gaugesContainer-exportButton'>

            <%= render partial: 'shared/chart_export_button',
                       locals: {
                         exportID: 'reform-government-gauge-group'
                       } %>

          </div>

          <div class="js-become-highchart solidGauge mod-big mod-white-border" data-chart-type='big-solid-gauge' data-id='reform-government-overall'></div>

          <div class='gaugesContainer-small'>

            <div class="js-become-highchart solidGauge mod-small mod-small-dot-border" data-chart-type='small-solid-gauge' data-id='reform-government-institutional-setup'></div>

            <div class="js-become-highchart solidGauge mod-small mod-small-dash-border" data-chart-type='small-solid-gauge' data-id='reform-government-capacity-building'></div>

            <div class="js-become-highchart solidGauge mod-small mod-medium-dash-border" data-chart-type='small-solid-gauge' data-id='reform-government-infrastructure-budgeting'></div>

            <div class="js-become-highchart solidGauge mod-small mod-long-dash-border" data-chart-type='small-solid-gauge' data-id='reform-government-legislation-regulations'></div>

          </div>

        </section>

      </div>

    </section>

    <% if @verdict_ids.present? && @verdict_ids.length > 1 %>

      <div>

        <ul class='tabList mod-with-separator js-act-as-tab-list'>

          <li class='tabList-item'>
            <button class='tabList-item-button mod-primary is-selected js-act-as-tab-list-button' data-selects-tab-content-panel-id='government_history_chart'>
              <%= t('.header.government_history') %>
            </button>
          </li>

          <li class='tabList-item'>
            <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='government_methodology'>
              <%= t('.header.methodology') %>
            </button>
          </li>

        </ul>

        <div class="tabContent js-act-as-tab-content">

          <div class='tabContent-panel is-selected js-act-as-tab-content-panel' id='government_history_chart'>

            <% exportID = random_string %>

            <%= render partial: 'shared/chart_export_button',
                       locals: {
                         exportID: exportID
                       } %>

            <div class='js-become-highchart' data-chart-type='percentage-history-time-series' data-id='reform-government-history' data-exportable-by-id='<%= exportID %>'></div>

          </div>

          <div class='tabContent-panel js-act-as-tab-content-panel' id='government_methodology'>
            <% if @methodology_government %>
              <div>
                <%= simple_format_no_tags(@methodology_government.content) %>
              </div>
            <% else %>
              <p>
               <%= t('.no_methodology') %>
              </p>
            <% end %>
          </div>

        </div>
      </div>

    <% else %>

      <h2 class='heading'>
        <%= t('.header.methodology') %>
      </h2>

      <% if @methodology_government %>
        <div>
          <%= simple_format_no_tags(@methodology_government.content) %>
        </div>
      <% else %>
        <p>
         <%= t('.no_methodology') %>
        </p>
      <% end %>

    <% end %>

  </div>

</div>

<div class='contentSidebarContainer'>

  <div class='contentSidebarContainer-content'>

    <div class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.header.stakeholder_summary') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <!-- If there is no sidebar, put the summary and gauges next to
             each other on big screens. -->
        <% unless @has_sidebar %>
          <div class='summaryGaugesContainer'>
        <% end %>

          <% if @reform_survey.stakeholder_summary %>
            <div class='<%= 'summaryGaugesContainer-summary' unless @has_sidebar %>'>
              <%= simple_format_no_tags(@reform_survey.stakeholder_summary) %>
            </div>
          <% end %>

          <section class='gaugesContainer mod-meter-gauges'>

            <div class='gaugesContainer-exportButton'>

              <%= render partial: 'shared/chart_export_button',
                         locals: {
                           exportID: 'reform-stakeholder-gauge-group'
                         } %>

            </div>

            <div class='js-become-highchart meterGauge mod-big' data-chart-type='big-meter-gauge' data-id='reform-stakeholder-overall'></div>

            <div class='gaugesContainer-small'>

              <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='reform-stakeholder-performance'></div>

              <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='reform-stakeholder-progress'></div>

              <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='reform-stakeholder-outcome'></div>

            </div>

          </section>

        <!-- If there is no sidebar, put the summary and gauges next to
             each other on big screens. -->
        <% unless @has_sidebar %>
          </div>
        <% end %>

        <section>

          <% if @verdict_ids.present? && @verdict_ids.length > 1 %>

            <ul class='tabList mod-with-separator js-act-as-tab-list'>

              <li class='tabList-item'>
                <button class='tabList-item-button mod-primary is-selected js-act-as-tab-list-button' data-selects-tab-content-panel-id='stakeholder_history_chart'>
                  <%= t('.header.stakeholder_history') %>
                </button>
              </li>

              <li class='tabList-item'>
                <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='stakeholder_methodology'>
                  <%= t('.header.methodology') %>
                </button>
              </li>

              <li class='tabList-item'>
                <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='stakeholders'>
                  <%= t('.header.stakeholders') %>
                </button>
              </li>

            </ul>

            <div class="tabContent js-act-as-tab-content">

              <div class='tabContent-panel is-selected js-act-as-tab-content-panel' id='stakeholder_history_chart'>

                <% exportID = random_string %>

                <%= render partial: 'shared/chart_export_button',
                           locals: {
                             exportID: exportID
                           } %>

                <div class='js-become-highchart' data-chart-type='rating-history-time-series' data-id='reform-stakeholder-history' data-exportable-by-id='<%= exportID %>'></div>

              </div>

              <div class='tabContent-panel js-act-as-tab-content-panel' id='stakeholder_methodology'>
                <% if @methodology_stakeholder %>
                  <div>
                    <%= simple_format_no_tags(@methodology_stakeholder.content) %>
                  </div>
                <% else %>
                  <p>
                   <%= t('.no_methodology') %>
                  </p>
                <% end %>
              </div>

              <div class='tabContent-panel js-act-as-tab-content-panel' id='stakeholders'>
                <ul class='expertList'>

                  <% if @stakeholders.each do |expert| %>

                    <li class='expertList-item js-act-as-expert-item'>

                      <div>

                        <h4 class='expertList-item-heading'>
                          <%= expert.name %>
                        </h4>

                        <% if expert.bio %>

                          <div class='expertList-item-description'>

                            <%= simple_format(expert.bio) %>

                          </div>

                        <% end %>

                      </div>

                    </li>

                  <% end.empty? %>

                    <p>
                     <%= t('.no_stakeholders') %>
                    </p>

                  <% end %>

                </ul>
              </div>

            </div>

          <% else %>

            <h2 class='heading'>
              <%= t('.header.methodology') %>
            </h2>

            <% if @methodology_stakeholder %>
              <div>
                <%= simple_format_no_tags(@methodology_stakeholder.content) %>
              </div>
            <% else %>
              <p>
               <%= t('.no_methodology') %>
              </p>
            <% end %>

          <% end %>

        </section>

      </div>

    </div>

    <% if @external_indicators.present? %>

      <div class='contentSection'>

        <header class='contentSection-header'>

          <h2 class='heading'>
            <%= t('.header.external_indicators') %>
          </h2>

        </header>

        <div class='contentSection-body mod-vertical-padding'>

          <% if @outcome %>
              <div>
                <%= simple_format_no_tags(@outcome.content) %>
              </div>
          <% end %>

          <% @external_indicators.each do |external_indicator| %>

            <div class='externalIndicatorChartContainer' id='external-indicator-<%= external_indicator.id %>'>

              <%= render(partial: 'shared/external_indicator_chart',
                         locals: {
                           external_indicator: external_indicator.format_for_charting
                         }) %>

            </div>

          <% end %>

        </div>

      </div>

    <% end %>

  </div>

  <% if @news.present? %>
    <div class='contentSidebarContainer-sidebar mod-limit-width-to-image'>
      <%= render partial: 'shared/news' %>
    </div>
  <% end %>

</div>
