<% object = @report %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object, id_suffix: '1' } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  as: :string,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.report.title'),
                         language: enabled_locale_name),
                   :input_html => { :maxlength => 255  } %>

      <div class="file input optional form-group" id="report_report_<%= enabled_locale %>_input">
        <span class="form-label">
          <label for="report_report_<%= enabled_locale %>" class=" control-label"><%= t('shared.labels.translated_field',
                         field: t('activerecord.attributes.report.report'),
                         language: enabled_locale_name) %></label>
        </span>
        <%= link_to t('shared.actions.view'), @report.report(enabled_locale).url,
                        class: 'btn btn-default',
                        target: :blank if @report.report(enabled_locale).exists? %>
        <span class="form-wrapper">
          <input accept=".pdf" id="report_report_<%= enabled_locale %>" name="report[report_<%= enabled_locale %>]" type="file">
        </span>
      </div>


    <% end %>

    <hr />

    <%= f.input :report_date, as: :string, :input_html => { style: 'width: 10em;'  } %>
    <%= f.input :is_active, as: :radio %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>

