<%
  model_class = ReformColor
  page_title t('activerecord.models.reform_color', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_reform_color_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th></th>
      <th><%=t 'activerecord.attributes.reform_color.color_code' %></th>
      <th><%=t 'activerecord.attributes.reform_color.reform' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @reform_colors.each do |reform_color| %>
      <tr>
        <td>
          <div style="background-color: <%= reform_color.hex %>; width: 15px;">&nbsp;</div>
        </td>
        <td>
          <%= reform_color.hex %>
          <br />
          <%= reform_color.rgb %>
        </td>
        <td><%= reform_color.reforms.map{|x| x.name}.join(' <br /> ') %></td>

        <td>
          <%= if can? :edit, reform_color
                link_to t('shared.actions.edit'),
                        edit_admin_reform_color_path(reform_color),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, reform_color
                link_to t('shared.actions.destroy'),
                        admin_reform_color_path(reform_color),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
