  <%
page_title t('.title')
@do_not_use_default_page_layout = true
%>

<section class='contentSection mod-overlap-top-image'>

  <header class='contentSection-header'>

    <h1 class='heading'>
      <%= yield(:page_title) %>
    </h1>

  </header>

  <div class='contentSection-body'>

    <% if @about_text %>
      <div>
        <%= simple_format_no_tags(@about_text.content) %>
      </div>
    <% end %>

  </div>

</section>

<div class='aboutPage-contentSidebarContainer'>

  <div class='aboutPage-contentSidebarContainer-content'>

    <section class='contentSection mod-accordion js-accordion'>

      <header class='contentSection-header js-accordion-toggle-button'>

          <h2 class='heading'>
            <%= t('.methodology') %>
          </h2>
          
      </header>

      <div class='contentSection-body mod-no-padding'>

        <%= simple_format_no_tags(@methodology_general.content) %>

      </div>

    </section>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.steering_committee') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <ul class='expertList'>

          <% if @steering_committee.each do |expert| %>

            <li class='expertList-item js-act-as-expert-item'>

              <div class='expertList-item-imageLink'>

                <%= image_tag(expert.avatar.url('100x100'),
                              class: 'expertList-item-imageLink-image') %>

              </div>

              <div>

                <h4 class='expertList-item-heading'>
                  <%= expert.name %>
                </h4>

                <% if expert.bio %>

                  <div class='expertList-item-description'>

                    <%= simple_format(expert.bio) %>

                  </div>

                <% end %>

              </div>

            </li>

          <% end.empty? %>

            <li>
             <%= t('.no_steering_committee') %>
            </li>

          <% end %>

        </ul>

      </div>

    </section>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.executive_team') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <ul class='expertList'>

          <% if @executive_team.each do |expert| %>

            <li class='expertList-item js-act-as-expert-item'>

              <div class='expertList-item-imageLink'>

                <%= image_tag(expert.avatar.url('100x100'),
                              class: 'expertList-item-imageLink-image') %>

              </div>

              <div>

                <h4 class='expertList-item-heading'>
                  <%= expert.name %>
                </h4>

                <% if expert.bio %>

                  <div class='expertList-item-description'>

                    <%= simple_format(expert.bio) %>

                  </div>

                <% end %>

              </div>

            </li>

          <% end.empty? %>

            <li>
             <%= t('.no_executive_team') %>
            </li>

          <% end %>

        </ul>

      </div>

    </section>

  </div>

  <div class='aboutPage-contentSidebarContainer-sidebar'>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.contact') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <section class='aboutPage-info'>

          <p class='aboutPage-info-line mod-important'>
            ISET Policy Institute
          </p>

          <p class='aboutPage-info-line'>
            Address: 16, Zandukeli St, Tbilisi
          </p>

          <p class='aboutPage-info-line'>
            Email: <a class='link' href="http://www.google.com/recaptcha/mailhide/d?k=01tBlSg2Z63-In-L3j46Hs5A==&amp;c=ocXR892Yu9uw7cyP5ObMFKNYHuiYFXWuwwvenHGIjW0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01tBlSg2Z63-In-L3j46Hs5A\x3d\x3d\x26c\x3docXR892Yu9uw7cyP5ObMFKNYHuiYFXWuwwvenHGIjW0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Click here</a>
          </p>

          <p class='aboutPage-info-line'>
            Phone: (+995 32) 250 71 77
          </p>

          <p class='aboutPage-info-line'>
            Fax: (995 32) 299 86 44
          </p>

        </section>

        <section class='socialLinks'>

          <%= link_to inline_svg('facebook.svg'),
                      'https://www.facebook.com/ISET.ISET',
                      target: '_blank',
                      class: 'socialLinks-item' %>

          <%= link_to inline_svg('twitter.svg'),
                      'https://twitter.com/ISET_PI',
                      target: '_blank',
                      class: 'socialLinks-item' %>

          <%= link_to inline_svg('youtube.svg'),
                      'https://www.youtube.com/user/ISETchannel',
                      target: '_blank',
                      class: 'socialLinks-item' %>

          <%= link_to inline_svg('in.svg'),
                      'https://www.linkedin.com/edu/school?id=43086&trk=tyah&trkInfo=clickedVertical%3Aschool%2CclickedEntityId%3A43086%2Cidx%3A6-1-17%2CtarId%3A1441091883758%2Ctas%3Aiset',
                      target: '_blank',
                      class: 'socialLinks-item' %>

        </section>

      </div>

    </section>


    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.sponsors_donors') %>
        </h2>

      </header>

      <div class='contentSection-body mod-vertical-padding'>

        <a class='aboutPage-logo' href='https://www.usaid.gov/georgia' target='_blank'>
          <%= image_tag('usaid_logo.jpg') %>
        </a>

        <a class='aboutPage-logo' href='https://www.facebook.com/G4G-305788096275110/' target='_blank'>
          <%= image_tag('gg_logo.jpg') %>
        </a>

      </div>

    </section>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.partners') %>
        </h2>

      </header>

      <div class='contentSection-body mod-vertical-padding'>

        <a class='aboutPage-logo' href='http://iset-pi.ge/index.php/en/' target='_blank'>
          <%= image_tag('iset_logo.jpg') %>
        </a>

        <%= link_to inline_svg('jumpstart_logo.svg'),
                    'http://jumpstart.ge',
                    target: '_blank',
                    class: 'aboutPage-logo',
                    title: t('shared.common.jumpstart.slogan') %>

      </div>

    </section>

  </div>

</div>
