<%
page_title t('.title')
@do_not_use_default_page_layout = true
%>

<section class='contentSection mod-overlap-top-image'>

  <header class='contentSection-header'>

    <h1 class='heading'>
      <%= yield(:page_title) %>
    </h1>

  </header>

  <div class='contentSection-body'>

    <% if @about_text %>
      <div>
        <%= simple_format_no_tags(@about_text.content) %>
      </div>
    <% end %>

  </div>

</section>

<div class='aboutPage-contentSidebarContainer'>

  <div class='aboutPage-contentSidebarContainer-content'>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.methodology') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <% if @methodology_review_board %>
          <div>
            <h3><%= @methodology_review_board.title %></h3>
            <%= simple_format_no_tags(@methodology_review_board.content) %>
          </div>
        <% end %>

        <% if @methodology_government %>
          <div>
            <h3><%= @methodology_government.title %></h3>
            <%= simple_format_no_tags(@methodology_government.content) %>
          </div>
        <% end %>

        <% if @methodology_stakeholder %>
          <div>
            <h3><%= @methodology_stakeholder.title %></h3>
            <%= simple_format_no_tags(@methodology_stakeholder.content) %>
          </div>
        <% end %>

      </div>

    </section>

  </div>

  <div class='aboutPage-contentSidebarContainer-sidebar'>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.sponsors_donors') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <a class='aboutPage-logo' href='https://www.usaid.gov/georgia' target='_blank'>
          <%= image_tag('usaid_logo.jpg') %>
        </a>

        <a class='aboutPage-logo' href='https://www.facebook.com/G4G-305788096275110/' target='_blank'>
          <%= image_tag('gg_logo.jpg') %>
        </a>

      </div>

    </section>

    <section class='contentSection'>

      <header class='contentSection-header'>

        <h2 class='heading'>
          <%= t('.partners') %>
        </h2>

      </header>

      <div class='contentSection-body'>

        <a class='aboutPage-logo' href='http://iset-pi.ge/index.php/en/' target='_blank'>
          <%= image_tag('iset_logo.jpg') %>
        </a>

        <%= link_to inline_svg('jumpstart_logo.svg'),
                    'http://jumpstart.ge',
                    target: '_blank',
                    class: 'aboutPage-logo',
                    title: t('shared.common.jumpstart.slogan') %>

      </div>

    </section>

  </div>

</div>
