<% page_title t('.title') %>

<section>

  <p>
    ISET Policy Institute
  </p>

  <p>
    Address: 16, Zandukeli St, Tbilisi
  </p>

  <p>
    Email: reformeter@iset.ge
  </p>

  <p>
    Phone: (+995 32) 250 71 77
  </p>

  <p>
    Fax: (995 32) 299 86 44
  </p>

</section>

<section>
  <%= inline_svg('logo_reformeter_eng.svg') %>

  <%= link_to 'Facebook',
              'https://www.facebook.com/ISET.ISET',
              target: '_blank',
              class: 'contactPage-socialMediaLink' %>

  <%= link_to 'Twitter',
              'https://twitter.com/ISET_PI',
              target: '_blank',
              class: 'contactPage-socialMediaLink' %>

  <%= link_to 'Youtube',
              'https://www.youtube.com/user/ISETchannel',
              target: '_blank',
              class: 'contactPage-socialMediaLink' %>

  <%= link_to 'LinkedIn',
              'https://www.linkedin.com/edu/school?id=43086&trk=tyah&trkInfo=clickedVertical%3Aschool%2CclickedEntityId%3A43086%2Cidx%3A6-1-17%2CtarId%3A1441091883758%2Ctas%3Aiset',
              target: '_blank',
              class: 'contactPage-socialMediaLink' %>

</section>
