<% page_title t('.title') %>

<% if @download_text %>
  <div class='downloadPage-description'>
    <%= simple_format_no_tags(@download_text.content) %>
  </div>
<% end %>

<section class='downloadPage-downloadBoxes-container'>

  <h2 class='u-hide-visually'>
    Download Options
  </h2>

  <% if @download_expert_text %>
    <section class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_expert_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_expert_text.content) %>
      </div>

      <div class='downloadBox-button'>
        Download <%= link_to inline_svg("#{Rails.root}/app/assets/images/download_xls.svg"),
                    params.merge(type: 'expert'),
                    method: :post %>
      </div>

    </section>
  <% end %>

  <% if @download_reform_text %>

    <section class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_reform_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_reform_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="js-become-select2 reform">

          <option value="" default selected>
            <%= t('.choose') %>
          </option>

          <% @reforms.each do |reform| %>
            <option value="<%= reform.slug %>">
              <%= reform.name %>
            </option>
          <% end %>

        </select>
      </div>

      <button class='downloadBox-button'>
        Download <%= link_to inline_svg("#{Rails.root}/app/assets/images/download_xls.svg"),
                    params.merge(type: 'expert'),
                    method: :post %>
      </button>

    </section>

  <% end %>

  <% if @download_external_indicator_text %>

    <section class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_external_indicator_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_external_indicator_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="external_indicator js-become-select2">
          <option value="" default selected>
            <%= t('.choose') %>
          </option>
        </select>
      </div>

      <button class='downloadBox-button'>
        Download <%= link_to inline_svg("#{Rails.root}/app/assets/images/download_xls.svg"),
                             params.merge(type: 'external_indicator'),
                             method: :post,
                             class: 'external_indicator' %>
      </button>

    </section>

  <% end %>

  <% if @download_report_text %>

    <section class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_report_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_report_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="report js-become-select2">

          <option value="" default selected>
            <%= t('.choose') %>
          </option>

          <% @quarters.each do |quarter| %>
            <option value="<%= quarter.slug %>"><%= quarter.time_period %></option>
          <% end %>

        </select>
      </div>

      <button class='downloadBox-button mod-pdf'>
        Download <%= link_to inline_svg("#{Rails.root}/app/assets/images/download_pdf.svg"),
                             params.merge(type: 'report'),
                             method: :post,
                             class: 'report' %>
      </button>

    </section>

  <% end %>

</section>
