<% page_title t('.title') %>

<% if @download_text %>
  <div>
    <%= simple_format_no_tags(@download_text.content) %>
  </div>
<% end %>

<% if @download_expert_text %>
  <div>
    <h2><%= @download_expert_text.title %></h2>
    <%= simple_format_no_tags(@download_expert_text.content) %>
    <div>
      <%= link_to t('.download'), params.merge(type: 'expert'), method: :post %>
    </div>
  </div>
<% end %>

<% if @download_reform_text %>
  <div>
    <h2><%= @download_reform_text.title %></h2>
    <%= simple_format_no_tags(@download_reform_text.content) %>
  </div>
  <div>
    <select class="reform">
      <option value="" default selected><%= t('.choose') %></option>
      <% @reforms.each do |reform| %>
        <option value="<%= reform.slug %>"><%= reform.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <%= link_to t('.download'), params.merge(type: 'reform'), method: :post, class: 'reform' %>
  </div>
<% end %>

<% if @download_external_indicator_text %>
  <div>
    <h2><%= @download_external_indicator_text.title %></h2>
    <%= simple_format_no_tags(@download_external_indicator_text.content) %>
  </div>
  <div>
    <select class="external_indicator">
      <option value="" default selected><%= t('.choose') %></option>
    </select>
  </div>
  <div>
    <%= link_to t('.download'), params.merge(type: 'external_indicator'), method: :post, class: 'external_indicator' %>
  </div>
<% end %>

<% if @download_report_text %>
  <div>
    <h2><%= @download_report_text.title %></h2>
    <%= simple_format_no_tags(@download_report_text.content) %>
  </div>
  <div>
    <select class="report">
      <option value="" default selected><%= t('.choose') %></option>
      <% @quarters.each do |quarter| %>
        <option value="<%= quarter.slug %>"><%= quarter.time_period %></option>
      <% end %>
    </select>
  </div>
  <div>
    <%= link_to t('.download'), params.merge(type: 'report'), method: :post, class: 'report' %>
  </div>
<% end %>
