<% page_title t('.title') %>

<% if @download_text %>
  <div class='downloadPage-description'>
    <%= simple_format_no_tags(@download_text.content) %>
  </div>
<% end %>

<ul class='downloadPage-downloadBoxesContainer'>

  <% if @download_reform_text %>

    <li class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_reform_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_reform_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="js-become-select2 reform">

          <option value="" default selected>
            <%= t('.choose') %>
          </option>

          <% @reforms.each do |reform| %>
            <option value="<%= reform.slug %>">
              <%= reform.name %>
            </option>
          <% end %>

        </select>
      </div>

      <div class='downloadBox-button'>
        <%= link_to params.merge(type: 'reform'),
                    method: :post,
               class: 'js-reform' do %>
          <%= t('.download') %>
          <%= inline_svg("download_xls.svg") %>
        <% end %>
      </div>

    </li>

  <% end %>

  <% if @download_external_indicator_text %>

    <li class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_external_indicator_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_external_indicator_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="external_indicator js-become-select2" data-dropdown-class='biggerMinWidth'>
          <option value="" default selected>
            <%= t('.choose') %>
          </option>

          <% @external_indicators.each do |ext_ind| %>
            <option value="<%= ext_ind.id %>">
              <%= ext_ind.title %>
            </option>
          <% end %>

        </select>
      </div>

      <div class='downloadBox-button'>
        <%= link_to params.merge(type: 'external_indicator'),
               method: :post,
               class: 'js-external_indicator'  do %>
          <%= t('.download') %>
          <%= inline_svg("download_xls.svg") %>
        <% end %>
      </div>

    </li>

  <% end %>

  <% if @download_report_text %>

    <li class='downloadBox'>

      <h2 class='downloadBox-heading'>
        <%= @download_report_text.title %>
      </h2>

      <div class='downloadBox-description'>
        <%= simple_format_no_tags(@download_report_text.content) %>
      </div>

      <div class='downloadBox-selectContainer'>
        <select class="report js-become-select2">

          <option value="" default selected>
            <%= t('.choose') %>
          </option>

          <% @quarters.each do |quarter| %>
            <option value="<%= quarter.slug %>"><%= quarter.time_period %></option>
          <% end %>

        </select>
      </div>

      <div class='downloadBox-button mod-pdf'>
        <%= link_to params.merge(type: 'report'),
                   method: :post,
                   class: 'js-report' do %>
          <%= t('.download') %>
          <%= inline_svg("download_pdf.svg") %>
        <% end %>
      </div>

    </li>

  <% end %>

</ul>
