<%
@do_not_use_default_page_layout = true
page_title t('.title')
%>

<div class='contentSection mod-overlap-top-image'>

  <%= bootstrap_flash %>

  <header class='contentSection-header'>

    <div class='contentSection-header-title'>

      <h1 class='heading'>
        <%= yield(:page_title) %>
      </h1>

    </div>

  </header>

</div>

<% @external_indicators.each do |ext_ind| %>

  <div class='contentSection'>

    <header class='contentSection-header'>

      <div class='contentSection-header-title'>

        <h2 class='heading'>
          <%= ext_ind.title %>
        </h2>

        <h3>
          <%= ext_ind.subtitle %>
        </h3>

      </div>

    </header>

    <div class='contentSection-body'>

      <p>
        <%= ext_ind.description %>
      </p>

      <%= render(partial: 'shared/external_indicator_chart',
                 locals: {
                   external_indicator: ext_ind.format_for_charting
                 }) %>

    </div>

  </div>

<% end %>
