<%
@do_not_use_default_page_layout = true
page_title t('.title')
%>

<div class='contentSection mod-overlap-top-image'>

  <%= bootstrap_flash %>

  <header class='contentSection-header'>

    <div class='contentSection-header-title'>

      <h1 class='heading'>
        <%= yield(:page_title) %>
      </h1>

    </div>

    <div class='contentSection-header-controls'>

      <select class='js-become-select2'>

        <option><%= t('.select_indicator') %></option>

        <% @external_indicators.each do |external_indicator| %>

          <option value="<%= external_indicator.id %>"><%= external_indicator.title %></option>

        <% end %>

      </select>

    </div>

  </header>

</div>

<% @external_indicators.each do |ext_ind| %>

  <div class='contentSection'>

    <header class='contentSection-header'>

      <div class='contentSection-header-title'>

        <h2 class='heading'>
          <%= ext_ind.title %>
        </h2>

        <h3 class='subheading'>
          <%= ext_ind.subtitle %>
        </h3>

      </div>

    </header>

    <div class='contentSection-body'>

      <p>
        <%= ext_ind.description %>
      </p>

      <%= render(partial: 'shared/external_indicator_chart',
                 locals: {
                   external_indicator: ext_ind.format_for_charting
                 }) %>
      <% if ext_ind.reforms.present? %>

        <h3>
          <%= t '.associated_reforms' %>
        </h3>

        <ul>

          <% ext_ind.reforms.each do |reform| %>

            <li>

              <%= link_to reform.name,
                          reform_show_path(
                            reform.id,
                            @most_recent_quarter
                          ),
                          class: 'link' %>

            </li>

          <% end %>

        </ul>

      <% end %>

    </div>

  </div>

<% end %>
