<div>

  <div class='topImageContainer mod-homepage'>
    <%= render partial: 'application/navbar_header' %>

    <section class='homePage-intro'>

      <% if @quarter %>

        <div>

          <h2 class='heading mod-inherit-color'>
            <%= t('.header.standing', time: @quarter.time_period) %>
          </h2>

          <ul>

            <li class='homePage-intro-summaryGood'>
              <%= simple_format_no_tags(@quarter.summary_good) %>
            </li>

            <li class='homePage-intro-summaryBad'>
              <%= simple_format_no_tags(@quarter.summary_bad) %>
            </li>

          </ul>

          <div class='homePage-intro-download'>

            <%= link_to t('.report_link'),
                        download_data_and_reports_path(
                          type: 'report',
                          quarter: @quarter.slug),
                        class: 'link mod-light-weight',
                        method: :post %>

          </div>

        </div>

      <% end %>

      <div class='homePage-intro-chartSummaryContainer'>

        <% if @quarter %>

          <div class='js-become-highchart meterGauge mod-big mod-homepage' data-chart-type='homepage-meter-gauge' data-id='reform-current-overall'></div>

        <% end %>

        <% if @home_page_about %>

          <div class='homePage-intro-chartSummaryContainer-summary'>

            <h2 class='heading mod-inherit-color'>
              <%= @home_page_about.title %>
            </h2>

            <%= simple_format_no_tags(@home_page_about.content) %>

            <div class='homePage-intro-chartSummaryContainer-summary-link'>

              <%= link_to t('.about_link'),
                          about_path,
                          class: 'link mod-light-weight' %>

            </div>

          </div>

        <% end %>

      </div>

    </section>

  </div>

  <main class='mainContent'>

    <div class='homePage-expertsGovtContainer'>

      <div class='homePage-expertsGovtContainer-experts'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading mod-smaller-text'>

              <div class='heading-iconTextContainer'>

                <%= inline_svg('experts.svg', class: 'heading-icon') %>

                <div class='heading-text'>
                  <%= t('.header.experts') %>
                </div>

              </div>

            </h2>

          </header>

          <div class='contentSection-body'>

            <div class='homePage-expertHistoryChart js-become-highchart' data-chart-type='small-rating-history-time-series' data-id='expert-history'></div>

            <% if @quarter.expert_survey.summary %>

              <div>
                <%= simple_format_no_tags(@quarter.expert_survey.summary) %>
              </div>

            <% end %>

            <%= link_to t('.experts_link'),
                        expert_show_path(@quarter.slug),
                        class: 'link' %>

          </div>

        </section>

      </div>

      <div class='homePage-expertsGovtContainer-government'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading mod-smaller-text'>

              <div class='heading-iconTextContainer'>

                <%= inline_svg('government.svg', class: 'heading-icon') %>

                <div class='heading-text'>
                  <%= t('.header.government') %>
                </div>

              </div>

            </h2>

          </header>

          <div class='contentSection-body mod-no-padding'>

            <% @reforms.each do |reform| %>

              <% if @reform_current_quarter_values.present? %>

                <% value = @reform_current_quarter_values.select{|x| x[:reform_id] == reform.id}.first %>

                <div class='homePage-reforms-item'>

                  <%= link_to(reform_show_path(reform, @quarter), class: 'homePage-reforms-item-label') do %>

                    <span class='homePage-reforms-item-label-name'><%= reform.name %></span>

                      <% if value.present? %>
                        <div class='homePage-reforms-item-label-score'>
                          <%= value[:score].round %>%
                          <span><%= generate_change_icon(value[:change]) %></span>
                        </div>
                      <% end %>

                  <% end %>

                  <div class='homePage-reforms-item-chart js-become-highchart' data-chart-type='mini-time-series' data-id='reform-<%= reform.slug %>'></div>

                </div>

              <% end %>

            <% end %>

            <div class='homePage-reforms-axisAndLink'>

              <%= link_to t('.reforms_link'),
                          reforms_path,
                          class: 'link' %>

            </div>

          </div>

        </section>

      </div>

    </div>

    <% if @external_indicator_charts.present? %>

      <section class='contentSection'>

        <header class='contentSection-header'>

          <h2 class='heading'>
            <%= t('.header.external_indicators') %>
          </h2>

        </header>

        <div class='contentSection-body'>

          <% @external_indicator_charts.each do |ext_ind_chart| %>

            <%= render(partial: 'shared/external_indicator_chart',
                       locals: {
                         ext_ind_chart: ext_ind_chart
                       }) %>

          <% end %>

        </div>

      </section>

    <% end %>

  </main>

</div>
