<div>

  <div class='topImageContainer mod-homepage'>
    <%= render partial: 'application/navbar_header' %>

    <div class='homepage-primaryGaugeContainer'>

      <%= link_to review_board_show_path(@quarter) do %>

        <div class='js-become-highchart meterGauge mod-homepage' data-chart-type='homepage-meter-gauge' data-id='reform-current-overall'></div>

      <% end %>

      <p class='homepage-primaryGaugeDescription'>
        <%= t '.primary_gauge_description' %>
      </p>

    </div>

  </div>

  <main class='mainContent'>

    <nav class='homePage-bigLinks'>

      <div class='homePage-bigLinks-pair'>

        <a class='homePage-bigLinks-item' href='#'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('find_icon') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.find_out_why' %>
          </span>

        </a>

        <a class='homePage-bigLinks-item mod-last-item' href='#'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('government') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.reforms' %>
          </span>

        </a>

      </div>

      <div class='homePage-bigLinks-pair'>

        <a class='homePage-bigLinks-item' href='#'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('explore_icon') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.economic_effects' %>
          </span>

        </a>

        <a class='homePage-bigLinks-item mod-last-item' href='#'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('experts') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.review_board' %>
          </span>

        </a>

      </div>

    </nav>

    <div class='homePage-reformsIndicatorsContainer'>

      <div class='homePage-reformsIndicatorsContainer-reforms'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading'>
              <%= t '.reform_status' %>
            </h2>

          </header>

          <div class='contentSection-body mod-no-padding'>

            <table class='chartsTable mod-homepage mod-bottom-border mod-no-column-lines'>

              <thead>

                <tr class='chartsTable-row'>

                  <th class='chartsTable-cell mod-head mod-first-column'>
                    <%= t('.table_header.reform') %>
                  </th>

                  <th class='chartsTable-cell mod-head'>
                    <%= t('.table_header.government') %>
                  </th>

                  <th class='chartsTable-cell mod-head'>
                    <%= t('.table_header.stakeholder') %>
                  </th>

                </tr>

              </thead>

              <tbody class='chartsTable-body'>

                <% surveys = ReformSurvey.all.select{|x| x.quarter_id == @quarter.id} %>

                <% if surveys.present? %>

                  <% surveys.each do |survey| %>

                    <% reform = @reforms.select{|x| x.id == survey.reform_id}.first %>

                    <% if reform %>

                      <tr class='chartsTable-row'>

                        <td class='chartsTable-cell mod-important-text mod-first-column'>
                          <%= link_to(reform.name,
                                      reform_show_path(
                                        reform_id: reform.slug,
                                        quarter_id: @quarter.slug),
                                      class: 'chartsTable-cell-link') %>
                        </td>

                        <td class='chartsTable-cell'>

                          <p class='chartsTable-cell-text'>

                            <span class='chartsTable-cell-text-score'>
                              <%= survey.government_overall_score %>
                            </span>

                            <span class='chartsTable-cell-text-changeIcon'>
                              <%= generate_change_icon(survey.government_overall_change) %>
                            </span>

                          </p>

                          <div class='chartsTable-cell-chart'>

                            <%= link_to(reform_show_path(
                                          reform_id: reform.slug,
                                          quarter_id: @quarter.slug)) do %>

                              <div class='js-become-highchart solidGauge mod-small mod-white-border' data-chart-type='small-solid-gauge' data-id='reform-government-<%= @quarter.slug %>-<%= reform.slug %>'></div>

                            <% end %>

                          </div>

                        </td>

                        <td class='chartsTable-cell'>

                          <p class='chartsTable-cell-text'>

                            <span class='chartsTable-cell-text-score'>
                              <%= survey.stakeholder_overall_score %>
                            </span>

                            <span class='chartsTable-cell-text-changeIcon'>
                              <%= generate_change_icon(survey.stakeholder_overall_change) %>
                            </span>

                          </p>

                          <div class='chartsTable-cell-chart'>

                            <%= link_to(reform_show_path(
                                          reform_id: reform.slug,
                                          quarter_id: @quarter.slug)) do %>

                              <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='reform-stakeholder-<%= @quarter.slug %>-<%= reform.slug %>'></div>

                            <% end %>

                          </div>

                        </td>

                      </tr>

                    <% end %>

                  <% end %>

                <% end %>

              </tbody>

            </table>

            <p class='homePage-contentSectionLink'>
              <%= link_to t('.reforms_link'),
                          reforms_path,
                          class: 'link' %>
            </p>

          </div>

        </section>

      </div>

      <section class='contentSection'>

        <header class='contentSection-header'>

          <h2 class='heading'>
            <%= t '.economy_effects' %>
          </h2>

        </header>

        <div class='contentSection-body mod-no-padding js-external-indicator-gauges-container'>

          <% if @external_indicators.present? %>

            <% @external_indicators.each do |external_indicator| %>

              <section class='homePage-externalIndicator'>

                <h3 class='heading mod-no-transform'>

                  <%= external_indicator.title %>

                  <small class='heading-subheading'>
                    <%= external_indicator.subtitle %>
                  </small>

                </h3>

                <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='external-indicator-<%= external_indicator.id %>'></div>

              </section>

            <% end %>

          <p class='homePage-contentSectionLink'>
            <%= link_to t('.external_indicators_link'),
                        external_indicators_path,
                        class: 'link' %>
          </p>

          <% end %>

        </div>

      </section>

    </div>

  </main>

</div>







<% if false %>

<div>

  <div class='topImageContainer mod-homepage'>
    <%= render partial: 'application/navbar_header' %>

    <section class='homePage-intro'>

      <% if @quarter %>

        <div>

          <h2 class='heading mod-inherit-color'>
            <%= t('.header.standing', time: @quarter.time_period) %>
          </h2>

          <ul>

            <li class='homePage-intro-summaryGood'>
              <%= simple_format(@quarter.summary_good) %>
            </li>

            <li class='homePage-intro-summaryBad'>
              <%= simple_format(@quarter.summary_bad) %>
            </li>

          </ul>

          <div class='homePage-intro-download'>

            <%= link_to t('.report_link'),
                        download_data_and_reports_path(
                          type: 'report',
                          quarter: @quarter.slug),
                        class: 'link mod-light-weight',
                        method: :post %>

          </div>

        </div>

      <% end %>

      <div class='homePage-intro-chartSummaryContainer'>

        <% if @quarter %>

          <%= link_to review_board_show_path(@quarter) do %>

            <div class='js-become-highchart meterGauge mod-homepage' data-chart-type='homepage-meter-gauge' data-id='reform-current-overall'></div>

          <% end %>

        <% end %>

        <% if @home_page_about %>

          <div class='homePage-intro-chartSummaryContainer-summary'>

            <h2 class='heading mod-inherit-color'>
              <%= @home_page_about.title %>
            </h2>

            <%= simple_format_no_tags(@home_page_about.content) %>

            <div class='homePage-intro-chartSummaryContainer-summary-link'>

              <%= link_to t('.about_link'),
                          about_path,
                          class: 'link mod-light-weight' %>

            </div>

          </div>

        <% end %>

      </div>

    </section>

  </div>

  <main class='mainContent'>

    <div class='homePage-expertsGovtContainer'>

      <div class='homePage-expertsGovtContainer-experts'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading mod-smaller-text'>

              <div class='heading-iconTextContainer'>

                <%= inline_svg('experts.svg', class: 'heading-icon') %>

                <div class='heading-text'>
                  <%= t('.header.experts') %>
                </div>

              </div>

            </h2>

          </header>

          <div class='contentSection-body mod-vertical-padding'>

            <div class='homePage-expertHistoryChart js-become-highchart' data-chart-type='small-rating-history-time-series' data-id='expert-history'></div>

            <% if @quarter.expert_survey.summary %>

              <div>
                <%= simple_format_no_tags(@quarter.expert_survey.summary) %>
              </div>

            <% end %>

            <%= link_to t('.experts_link'),
                        review_board_show_path(@quarter.slug),
                        class: 'link' %>

          </div>

        </section>

      </div>

      <div class='homePage-expertsGovtContainer-government'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading mod-smaller-text'>

              <div class='heading-iconTextContainer'>

                <%= inline_svg('government.svg', class: 'heading-icon') %>

                <div class='heading-text'>
                  <%= t('.header.government') %>
                </div>

              </div>

            </h2>

          </header>

          <div class='contentSection-body mod-no-padding'>

            <% @reforms.each do |reform| %>

              <% if @reform_current_quarter_values.present? %>

                <% value = @reform_current_quarter_values.select{|x| x[:reform_id] == reform.id}.first %>

                <div class='homePage-reforms-item'>

                  <%= link_to(reform_show_path(reform, @quarter), class: 'homePage-reforms-item-label') do %>

                    <span class='homePage-reforms-item-label-name'><%= reform.name %></span>

                      <% if value.present? %>
                        <div class='homePage-reforms-item-label-rating'>
                          <span class='homePage-reforms-item-label-rating-score'><%= value[:score].round %>%</span>
                          <span class='homePage-reforms-item-label-rating-icon'><%=

                            generate_change_icon(
                              value[:change],
                              {
                                mod_class: 'mod-homepage-reforms'
                              }
                            )

                          %></span>
                        </div>
                      <% end %>

                  <% end %>

                  <div class='homePage-reforms-item-chart js-become-highchart' data-chart-type='mini-time-series' data-id='reform-<%= reform.slug %>'></div>

                  <% if reform.summary.present? %>

                    <span class='infoCircle js-act-as-info-circle' original-title='<%= reform.summary %>' data-tipsy-gravity='e'>i</span>

                  <% end %>

                </div>

              <% end %>

            <% end %>

            <div class='homePage-reforms-axisAndLink'>

              <%= link_to t('.reforms_link'),
                          reforms_path,
                          class: 'link' %>

            </div>

          </div>

        </section>

      </div>

    </div>

    <% if @external_indicators.present? %>

      <section class='contentSection'>

        <header class='contentSection-header'>

          <h2 class='heading'>
            <%= t('.header.external_indicators') %>
          </h2>

        </header>

        <div class='contentSection-body'>

          <% @external_indicators.each do |external_indicator| %>

            <%= render(partial: 'shared/external_indicator_chart',
                       locals: {
                         external_indicator: external_indicator
                       }) %>

          <% end %>

        </div>

      </section>

    <% end %>

  </main>

</div>

<% end %>
