<div>

  <div class='topImageContainer mod-homepage'>
    <%= render partial: 'application/navbar_header' %>

    <section class='homepage-intro'>

      <div class='homepage-intro-container'>

        <div class='homepage-introText'>

          <h1 class='heading mod-homepage-primary'>
            <%= t '.heading' %>
          </h1>

          <div class='homepage-introText-divider'></div>

          <p class='homepage-introText-subheading'>
            <%= t '.subheading' %>
          </p>

        </div>

        <div class='homepage-primaryGaugeContainer js-homepage-primary-gauge-container'>

          <%= link_to review_board_show_path(@quarter) do %>

            <div class='js-become-highchart meterGauge mod-homepage' data-chart-type='homepage-meter-gauge' data-id='reform-current-overall'></div>

          <% end %>

          <p class='homepage-primaryGaugeDescription'>
            <%= t '.primary_gauge_description' %>
          </p>

        </div>

      </div>

    </div>

    </section>

  <main class='mainContent'>

    <nav class='homePage-bigLinks'>

      <div class='homePage-bigLinks-pair'>

        <a class='homePage-bigLinks-item' href='<%= review_board_show_path(@quarter) %>'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('find_icon') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.find_out_why' %>
          </span>

        </a>

        <a class='homePage-bigLinks-item mod-last-item' href='<%= reforms_path %>'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('government') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.reforms' %>
          </span>

        </a>

      </div>

      <div class='homePage-bigLinks-pair'>

        <a class='homePage-bigLinks-item' href='<%= economic_effects_path %>'>

          <span class='homePage-bigLinks-item-icon'>
            <%= inline_svg('explore_icon') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.economic_effects' %>
          </span>

        </a>

        <a class='homePage-bigLinks-item mod-last-item' href='<%= review_board_path %>'>

          <span class='homePage-bigLinks-item-icon mod-experts'>
            <%= inline_svg('experts') %>
          </span>

          <span class='homePage-bigLinks-item-text'>
            <%= t '.big_link.review_board' %>
          </span>

        </a>

      </div>

    </nav>

    <div class='homePage-reformsIndicatorsContainer'>

      <div class='homePage-reformsIndicatorsContainer-reforms'>

        <section class='contentSection'>

          <header class='contentSection-header'>

            <h2 class='heading mod-homepage-contentSections'>
              <%= t '.reform_status' %>
            </h2>

          </header>

          <div class='contentSection-body mod-no-padding'>

            <table class='chartsTable mod-homepage mod-bottom-border mod-no-column-lines'>

              <thead>

                <tr class='chartsTable-row'>

                  <th class='chartsTable-cell mod-head mod-first-column'>
                    <%= t('shared.categories.reform') %>
                  </th>

                  <th class='chartsTable-cell mod-head'>
                    <%= t('shared.categories.government') %>
                  </th>

                  <th class='chartsTable-cell mod-head'>
                    <%= t('shared.categories.stakeholder') %>
                  </th>

                </tr>

              </thead>

              <tbody class='chartsTable-body'>

                <% if @reforms.present? %>

                  <% @reforms.each do |reform| %>

                    <%
                      survey = reform.reform_surveys[0]
                    %>

                    <tr class='chartsTable-row'>

                      <td class='chartsTable-cell mod-important-text mod-first-column'>
                        <%= link_to(reform.name,
                                    reform_show_path(
                                      reform_id: reform.slug,
                                      quarter_id: @quarter.slug),
                                    class: 'chartsTable-cell-link') %>
                      </td>

                      <td class='chartsTable-cell'>

                        <p class='chartsTable-cell-text'>

                          <span class='chartsTable-cell-text-score'>
                            <%= survey.government_overall_score %>
                          </span>

                          <span class='chartsTable-cell-text-changeIcon'>
                            <%= generate_change_icon(survey.government_overall_change) %>
                          </span>

                        </p>

                        <div class='chartsTable-cell-chart'>

                          <%= link_to(reform_show_path(
                                        reform_id: reform.slug,
                                        quarter_id: @quarter.slug)) do %>

                            <div class='js-become-highchart solidGauge mod-small mod-white-border' data-chart-type='small-solid-gauge' data-id='reform-government-<%= @quarter.slug %>-<%= reform.slug %>'></div>

                          <% end %>

                        </div>

                      </td>

                      <td class='chartsTable-cell'>

                        <p class='chartsTable-cell-text'>

                          <span class='chartsTable-cell-text-score'>
                            <%= survey.stakeholder_overall_score %>
                          </span>

                          <span class='chartsTable-cell-text-changeIcon'>
                            <%= generate_change_icon(survey.stakeholder_overall_change) %>
                          </span>

                        </p>

                        <div class='chartsTable-cell-chart'>

                          <%= link_to(reform_show_path(
                                        reform_id: reform.slug,
                                        quarter_id: @quarter.slug)) do %>

                            <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='reform-stakeholder-<%= @quarter.slug %>-<%= reform.slug %>'></div>

                          <% end %>

                        </div>

                      </td>

                    </tr>

                  <% end %>

                <% end %>

              </tbody>

            </table>

            <p class='homePage-contentSectionLink'>
              <%= link_to t('.reforms_link'),
                          reforms_path,
                          class: 'link' %>
            </p>

          </div>

        </section>

      </div>

      <section class='contentSection'>

        <header class='contentSection-header'>

          <h2 class='heading mod-homepage-contentSections'>
            <%= t '.economy_effects' %>
          </h2>

        </header>

        <div class='contentSection-body mod-no-padding js-external-indicator-gauges-container'>

          <% if @external_indicators.present? %>

            <% @external_indicators.each do |external_indicator| %>

              <section class='homePage-externalIndicator'>

                <%= link_to economic_effects_path, class: 'link mod-no-decoration' do %>

                  <h3 class='heading mod-no-transform'>

                    <%= external_indicator.title %>

                    <small class='heading-subheading'>
                      <%= external_indicator.subtitle %>
                    </small>

                  </h3>

                <% end %>

                <%= link_to economic_effects_path, class: 'link mod-no-decoration' do %>

                  <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='external-indicator-<%= external_indicator.id %>'></div>

                <% end %>

              </section>

            <% end %>

          <p class='homePage-contentSectionLink'>
            <%= link_to t('.external_indicators_link'),
                        economic_effects_path,
                        class: 'link' %>
          </p>

          <% end %>

        </div>

      </section>

    </div>

  </main>

</div>
