<%
  page_title t('.title')
  @do_not_use_default_page_layout = true
%>

<div class='contentSection mod-overlap-top-image'>

  <header class='contentSection-header'>

    <div class='contentSection-header-title'>

      <h1 class='heading'>

        <div class='heading-iconTextContainer'>

          <%= inline_svg('verdicts.svg', class: 'heading-icon mod-verdicts') %>

          <div class='heading-text'>
            <%= yield(:page_title) %>
          </div>

        </div>

      </h1>

    </div>

  </header>

  <div class='contentSection-body'>

    <% if @verdict_text %>
      <div>
        <%= simple_format_no_tags(@verdict_text.content) %>
      </div>
    <% end %>

    <% if @verdicts.blank? %>

      <p class="alert alert-warning">
        <%= t('.no_data') %>
      </p>

    <% end %>

  </div>

</div>

<% if @verdicts.present? %>

  <div class='contentSection'>

    <header class='contentSection-header mod-no-padding'>

      <ul class='tabList js-act-as-tab-list'>

        <li class='tabList-item'>

          <button class='tabList-item-button is-selected js-act-as-tab-list-button' data-selects-tab-content-panel-id='history'>
            <%= t('.header.table') %>
          </button>

        </li>

        <li class='tabList-item'>
          <button class='tabList-item-button js-act-as-tab-list-button' data-selects-tab-content-panel-id='chart'>
            <%= t('.header.chart') %>
          </button>
        </li>

      </ul>

    </header>

    <div class='contentSection-body mod-no-top-border mod-no-padding'>

      <div class='tabContent js-act-as-tab-content'>

        <div class='tabContent-panel is-selected js-act-as-tab-content-panel' id='history'>

          <table class='chartsTable mod-verdict'>
            <thead>
              <tr class='chartsTable-row'>

                <th class='chartsTable-cell mod-head mod-first-column'>
                  <%= t('.table_header.time') %>
                </th>

                <th class='chartsTable-cell mod-head'>
                  <%= t('.table_header.overall') %>
                </th>

                <th class='chartsTable-cell mod-head mod-summary'>
                  <%= t('.table_header.summary') %>
                </th>

              </tr>
            </thead>

            <tbody class='chartsTable-body'>
              <% @verdicts.each do |verdict| %>
                <tr class='chartsTable-row'>

                  <td class='chartsTable-cell mod-first-column mod-important-text'>
                    <%= link_to(verdict.title,
                                reform_verdict_show_path(verdict.slug),
                                class: 'chartsTable-cell-link') %>
                  </td>

                  <td class='chartsTable-cell'>

                    <%= link_to reform_verdict_show_path(verdict.slug) do %>

                      <div class='js-become-highchart meterGauge mod-small' data-chart-type='small-meter-gauge' data-id='<%= verdict.slug %>'></div>

                    <% end %>

                  </td>

                  <td class='chartsTable-cell mod-summary'>
                    <%= strip_tags_nbsp(verdict.summary) %>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

        <div class='tabContent-panel js-act-as-tab-content-panel' id='chart'>

          <% exportID = random_string %>

          <%= render partial: 'shared/chart_export_button',
                     locals: {
                       exportID: exportID
                     } %>

          <div class='js-become-highchart' data-chart-type='rating-history-time-series' data-id='verdict-history' data-exportable-by-id='<%= exportID %>'></div>

        </div>

      </div>
    </div>
  </div>


<% end %>
