<footer class='appFooter'>

  <div class='appFooter-socialAndMobileLinks'>

    <section class='socialLinks'>

      <% if @addthis_id.present? %>

      <div class="addthis_sharing_toolbox"></div>

      <% end %>

    </section>

    <section class='mobileAppLinks'>
      <span class='mobileAppLinks-item'>
        <%= link_to inline_svg('itunes.svg'),
        'https://itunes.apple.com/us/genre/ios/id36?mt=8',
        target: '_blank' %>
      </span>
      <span class='mobileAppLinks-item'>
        <%= link_to inline_svg('google_play.svg'),
        'https://play.google.com/store/apps/details?id=org.isetpi.reformeter&utm_source=reformeter.iset-pi.ge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1',
        target: '_blank' %>
      </span>
    </section>

  </div>

  <% if @disclaimer.present? %>
    <%= simple_format @disclaimer.content %>
  <% end %>

  <div class='appFooter-logos'>

    <div class='appFooter-logos-container'>

      <a class='appFooter-logos-item' href='https://www.usaid.gov/georgia' target='_blank'>
        <%= image_tag('usaid_logo.jpg') %>
      </a>

      <a class='appFooter-logos-item' href='https://www.facebook.com/G4G-305788096275110/' target='_blank'>
        <%= image_tag('gg_logo.jpg') %>
      </a>

    </div><div class='appFooter-logos-container'>

      <a class='appFooter-logos-item' href='http://iset-pi.ge/index.php/en/' target='_blank'>
        <%= image_tag('iset_logo.png') %>
      </a>

      <p class='appFooter-logos-item mod-jumpstart'>
        <%= link_to inline_svg('jumpstart_logo.svg'),
                    'http://jumpstart.ge',
                    target: '_blank',
                    title: t('shared.common.jumpstart.slogan') %>
      </p>

    </div>

  </div>

</footer>
