<header class='appHeader'>

  <a class='appHeader-brand' href='<%= root_path %>'>
    <%= inline_svg("#{Rails.root}/app/assets/images/logo_reformeter_eng.svg") %>

    <p class='appHeader-brand-subtext'>
      <%= t('shared.common.sub_title') %>
    </p>

  </a>

  <nav class='appHeader-nav'>

    <button class='appHeader-nav-button js-toggle-navigation'>
      <span class='appHeader-nav-button-iconBar'></span>
      <span class='appHeader-nav-button-iconBar'></span>
      <span class='appHeader-nav-button-iconBar'></span>
    </button>

    <ul class='appHeader-nav-list js-act-as-navigation is-hidden-on-mobile'>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.experts'),
                    experts_path,
                    class: 'appHeader-nav-list-item-link' %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.reforms'),
                    reforms_path,
                    class: 'appHeader-nav-list-item-link' %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.about'),
                    about_path,
                    class: 'appHeader-nav-list-item-link' %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.download_data_and_reports'),
                    download_data_and_reports_path,
                    class: 'appHeader-nav-list-item-link' %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.contact'),
                    '#',
                    class: 'appHeader-nav-list-item-link' %>
      </li>

      <% I18n.available_locales.each do |locale| %>

        <% unless I18n.locale == locale %>

          <li lang='<%= locale %>' class='appHeader-nav-list-item mod-language'>
            <%= link_to t("shared.locale.long.#{locale}"),
                        url_for(locale: locale.to_s),
                        class: 'appHeader-nav-list-item-link' %>
          </li>

        <% end %>

      <% end %>

    </ul>

  </nav>

</header>
