<header class='appHeader'>

  <a class='appHeader-brand' href='<%= root_path %>'>
    <%= inline_svg('logo_reformeter_eng.svg') %>

    <p class='appHeader-brand-subtext'>
      <%= t('shared.common.sub_title') %>
    </p>

  </a>

  <nav class='appHeader-nav'>

    <button class='appHeader-nav-button js-toggle-navigation'>
      <span class='appHeader-nav-button-iconBar'></span>
      <span class='appHeader-nav-button-iconBar'></span>
      <span class='appHeader-nav-button-iconBar'></span>
    </button>

    <ul class='appHeader-nav-list js-act-as-navigation is-hidden-on-mobile'>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.experts'),
                    experts_path,
                    class: "appHeader-nav-list-item-link#{nav_link_select_class_if_path([{controller: 'root', action: 'experts'}, {controller: 'root', action: 'expert_show'}])}" %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.reforms'),
                    reforms_path,
                    class: "appHeader-nav-list-item-link#{nav_link_select_class_if_path([{controller: 'root', action: 'reforms'}, {controller: 'root', action: 'reform_show'}])}" %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.about'),
                    about_path,
                    class: "appHeader-nav-list-item-link#{nav_link_select_class_if_path([{controller: 'root', action: 'about'}])}" %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.download_data_and_reports'),
                    download_data_and_reports_path,
                    class: "appHeader-nav-list-item-link#{nav_link_select_class_if_path([{controller: 'root', action: 'download_data_and_reports'}])}" %>
      </li>

      <li class='appHeader-nav-list-item'>
        <%= link_to t('.contact'),
                    contact_path,
                    class: "appHeader-nav-list-item-link#{nav_link_select_class_if_path([{controller: 'root', action: 'contact'}])}" %>
      </li>

      <% I18n.available_locales.each do |locale| %>

        <% unless I18n.locale == locale %>

          <li lang='<%= locale %>' class='appHeader-nav-list-item mod-language'>
            <%= link_to t("shared.locale.long.#{locale}"),
                        url_for(locale: locale.to_s),
                        class: 'appHeader-nav-list-item-link' %>
          </li>

        <% end %>

      <% end %>

      <% if user_signed_in? %>
          <li class='dropdown appHeader-nav-list-item'>
            <a href="#" id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= icon('user')%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.experts'), admin_experts_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin']) %>
                <li><%= link_to t('shared.links.reforms'), admin_reforms_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin']) %>
                <li><%= link_to t('shared.links.reform_colors'), admin_reform_colors_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.page_contents'), admin_page_contents_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin']) %>
                <li><%= link_to t('activerecord.models.user', count: 999), admin_users_path %></li>
              <% end %>
              <li class='divider'>

              </li>
              <li>
                <%= link_to t('.account.edit_profile'),
                            edit_user_registration_path %>
              </li>
              <li>
                <%= link_to t('.account.logout'),
                            destroy_user_session_path,
                            method: :delete %>
              </li>
            </ul>
          </li>
      <% end %>


    </ul>



  </nav>

</header>
