<header class='app-header'>

  <a class='app-header-brand' href='<%= root_path %>'>
    <%= inline_svg("#{Rails.root}/app/assets/images/logo_reformeter_eng.svg") %>

    <p class='app-header-brand-subtext'>
      Georgian Reform Progress - Tracking System
    </p>

  </a>

  <button class='app-header-nav-button js-toggle-navigation'>
    <span class='app-header-nav-button-icon-bar'></span>
    <span class='app-header-nav-button-icon-bar'></span>
    <span class='app-header-nav-button-icon-bar'></span>
  </button>

  <ul class='app-header-navigation js-act-as-navigation is-hidden-on-mobile'>

    <li class='app-header-navigation-item'>
      <%= link_to t('.experts'), experts_path  %>
    </li>

    <li class='app-header-navigation-item'>
      <%= link_to t('.reforms'), reforms_path  %>
    </li>

    <li class='app-header-navigation-item'>
      <%= link_to t('.about'), about_path  %>
    </li>

    <li class='app-header-navigation-item'>
      <%= link_to t('.download_data_and_reports'), download_data_and_reports_path  %>
    </li>

    <li class='app-header-navigation-item'>
      Contact
    </li>

    <li la='ka' class='app-header-navigation-item'>
      ქართული
    </li>

  </ul>

</header>
