<%
  model_class = Expert
  page_title t('activerecord.models.expert', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_expert_path
        }
  %>
</div>

<div class='contentSection'>

  <header class='contentSection-header mod-no-padding'>

    <ul class='tabList js-act-as-tab-list'>

      <% Expert::EXPERT_TYPES.keys.each_with_index do |key, index| %>
        <li class='tabList-item'>
          <% selected = index == 0 ? 'is-selected ' : '' %>
          <button class='tabList-item-button js-act-as-tab-list-button <%= selected %>' data-selects-tab-content-panel-id='<%= key %>'>
            <%= t("shared.expert_types.#{key}") %>
          </button>

        </li>
      <% end %>

    </ul>

  </header>

  <div class='contentSection-body mod-no-top-border mod-no-padding'>

    <div class='tabContent js-act-as-tab-content'>

      <div class='tabContent-panel is-selected mod-content-padding js-act-as-tab-content-panel' id='steering_committee'>
        <%= render partial: 'table', locals: {experts: @experts.select{|x| x.expert_type == Expert::EXPERT_TYPES[:steering_committee]}} %>
      </div>

      <div class='tabContent-panel mod-content-padding js-act-as-tab-content-panel' id='stakeholder'>
        <%= render partial: 'table', locals: {is_stakeholder: true, experts: @experts.select{|x| x.expert_type == Expert::EXPERT_TYPES[:stakeholder]}} %>
      </div>

      <div class='tabContent-panel mod-content-padding js-act-as-tab-content-panel' id='executive_team'>
        <%= render partial: 'table', locals: {experts: @experts.select{|x| x.expert_type == Expert::EXPERT_TYPES[:executive_team]}} %>
      </div>

    </div>

  </div>

</div>
