<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render partial: 'application/head' %>
  <body class="allContent <%= controller_name %> <%= action_name %>">
    <%= render partial: 'application/loading_indicator' %>

    <div class='main-footer-container'>

      <div>

        <div class='top-image-container'>
          <%= render partial: 'application/navbar_header' %>
        </div>

        <%= render partial: 'application/main' %>
      </div>

      <%= render partial: 'application/footer' %>

    </div>

    <% if Rails.env.production? %>
      <%= render partial: 'application/google_analytics' %>
    <% end %>

  </body>

</html>
