<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render partial: 'application/head' %>
  <body class="allContent <%= controller_name %> <%= action_name %>">
    <%= Gon::Base.render_data %>

    <%= render partial: 'application/loading_indicator' %>

    <div class='mainFooterContainer'>
      <% if params[:controller] == 'root' && params[:action] == 'index' %>

        <%= yield %>

      <% else %>

        <div>

          <div class='topImageContainer'>
            <%= render partial: 'application/navbar_header' %>
          </div>

          <%= render partial: 'application/main' %>

        </div>

      <% end %>

      <%= render partial: 'application/footer' %>

    </div>

    <% if Rails.env.production? %>
      <%= render partial: 'application/google_analytics' %>
    <% end %>

  </body>

</html>
