<%
  model_class = ExternalIndicator
  page_title t('activerecord.models.external_indicator', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_external_indicator_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.external_indicator.title' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.indicator_type' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.chart_type' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.scale_type' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.range' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.is_public' %></th>
      <th><%=t 'activerecord.attributes.external_indicator.show_on_home_page' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @external_indicators.each do |external_indicator| %>
      <tr>
        <td><%= external_indicator.full_title('<br />').html_safe %></td>
        <td><%= external_indicator.indicator_type_name %></td>
        <td><%= external_indicator.chart_type_name %></td>
        <td><%= external_indicator.scale_type_name %></td>
        <td><%= external_indicator.range %></td>
        <td><%= format_boolean_flag(external_indicator.is_public) %></td>
        <td><%= format_boolean_flag(external_indicator.show_on_home_page) %></td>

        <td>
          <%= if can? :edit, external_indicator
                link_to t('shared.actions.edit'),
                        edit_admin_external_indicator_path(external_indicator),
                        class: 'btn btn-default'
          end %>

          <%= if can? :edit, external_indicator
                link_to t('shared.actions.manage_data'),
                        data_admin_external_indicator_path(external_indicator),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, external_indicator
                link_to t('shared.actions.destroy'),
                        admin_external_indicator_path(external_indicator),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
